@model KilometroZero7.Models.Prodotti

@{
    ViewBag.Title = "KilometroZero";
}
@{ var bkg = ViewBag.Title + "_s.jpg";}
<div class="jumbotron" style="background-image:url(/Content/Images/@bkg)">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1><span class="red">K</span>ilometro <span class="red">Z</span>ero</h1>
        </div>
        <div class="col-md-6 box1">
            <h3 class="white">
                In che paese ti trovi?<br />
                @Html.DropDownList("Comune", String.Empty)
            </h3>
            <h3>
                Che cosa stai cercando?<br />
                @{ViewData["Prodotti"].ToString();}
            </h3>
            <div class="btn btn-primary">Trova</div>
            @*<img class="img-responsive" src="/Content/Images/CaravaggioLente.jpg" />*@
        </div>
    </div>
</div>

<h2>Dettaglio prodotto</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
        </dt>

        <dd>
             <h3><button class="btn btn-primary" onclick="window.open('@Url.Content("~/Home/DetailsComm/" + @Html.DisplayFor(model => model.utente))','_blank','scrollbars=1,resizable=1,toolbar=0,width=450,height=500','top=100,left=600')" class="buttonCredits">Dettagli commerciante</button></h3>
            <div id="my-dialog"></div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_prodotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_prodotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descrizione_prodotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descrizione_prodotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prezzo_prodotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezzo_prodotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria_Id)
        </dd>
        <dd>
            @{ var im = "~/Content/Images/prodotti/" + Html.DisplayFor(model => model.prodotto_id) + ".jpg";}
            <img class="img-prodottto-big" src="@Url.Content(@im)" />
        </dd>
    </dl>
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
</p>
<p>
    @Html.ActionLink("Back to Lista", "Index")
</p>
