@model KilometroZero7.Models.Prodotti
@{ var bkg = ViewBag.Title + "_s.jpg";}

<h2>Dettaglio prodotto</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
        </dt>


        <dt>
            @Html.DisplayNameFor(model => model.attivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_prodotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_prodotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descrizione_prodotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descrizione_prodotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prezzo_prodotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezzo_prodotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_categoria.nome_categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.utente.RagioneSociale)
        </dt>
        <dd>
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">
                @Html.DisplayFor(model => model.utente.RagioneSociale)
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Dettagli venditore</h4>
                        </div>
                        <div class="modal-body">
                            @Html.DisplayFor(model => model.utente.RagioneSociale)<br/>
                            @Html.DisplayFor(model => model.utente.Indirizzo)<br />
                            @Html.DisplayFor(model => model.utente.Telefono)<br />
                            @Html.DisplayFor(model => model.utente.Email)<br />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>            
        </dd>
        <dd>
            @{ var im = "~/Content/Images/prodotti/" + Html.DisplayFor(model => model.prodotto_id) + ".jpg";}
            <img class="img-prodottto-big" src="@Url.Content(@im)" />
        </dd>
    </dl>
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
</p>
<p>
    @Html.ActionLink("Back to Lista", "Index")
</p>
