@model Tuple<KilometroZero7.Models.Prodotti, KilometroZero7.Models.ApplicationUser>

@{
    ViewBag.Title = "KilometroZero";
}
@{ var bkg = ViewBag.Title + "_s.jpg";}
<div class="jumbotron" style="background-image:url(/Content/Images/@bkg)">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1><span class="red">K</span>ilometro <span class="red">Z</span>ero</h1>
        </div>
        <div class="col-md-6 box1">
            <h3 class="white">
                In che paese ti trovi?<br />
                @Html.DropDownList("Comune", String.Empty)
            </h3>
            <h3>
                Che cosa stai cercando?<br />
            </h3>
            <div class="btn btn-primary">Trova</div>
            @*<img class="img-responsive" src="/Content/Images/CaravaggioLente.jpg" />*@
        </div>
    </div>
</div>

<h2>Dettaglio prodotto</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
        </dt>

        <dd>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Launch demo modal
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            @Html.DisplayNameFor(model => model.Item2.RagioneSociale)<br />
                            @Html.DisplayFor(model => model.Item2.RagioneSociale)
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            
                <h3>@Html.ActionLink("Dettagli del commerciante", "DetailsComm", new { id = @Html.DisplayFor(model => model.Item1.utente) }, new { @class = "modal" })</h3>
                wqerqwerqwe
            <div id="my-dialog"></div>
  <script type="text/javascript">
    $(function () {
        $('#my-dialog').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            modal: true
        });

        $('.modal').click(function() {
            $('#my-dialog').load(this.href, function() {
                $(this).dialog('open');
            })
            return false;
        });
    });
   </script>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.attivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.attivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.nome_prodotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.nome_prodotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.descrizione_prodotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.descrizione_prodotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.prezzo_prodotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.prezzo_prodotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.categoria_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.categoria_Id)
        </dd>
        <dd>
            @{ var im = "~/Content/Images/prodotti/" + Html.DisplayFor(model => model.Item1.prodotto_id) + ".jpg";}
            <img class="img-prodottto-big" src="@Url.Content(@im)" />
        </dd>
    </dl>
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
</p>
<p>
    @Html.ActionLink("Back to Lista", "Index")
</p>
