@model KilometroZero7.Models.ApplicationUser
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<html>
<body>
    <h2>DetailsComm</h2>
    <div >
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Mail
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
                @Html.DisplayFor(model => model.Cognome)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PartitaIva)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PartitaIva)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Indirizzo)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CAP)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CAP)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RagioneSociale)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RagioneSociale)
            </dd>
        </dl>
    </div>
</body>
</html>
