@model IEnumerable<KilometroZero7.Models.Prodotti>

@{
    ViewBag.Title = "KilometroZero";
}
@{ var bkg = ViewBag.Title + "_s.jpg";}


<div class="jumbotron" style="background-image:url(/Content/Images/@bkg)">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1><span class="red">K</span>ilometro <span class="red">Z</span>ero</h1>
        </div>
        <div class="col-md-6 box1">
            <h3 class="white">In che paese ti trovi?<br/>
            @Html.DropDownList("Comune", String.Empty)</h3>
            <h3 >Che cosa stai cercando?<br/>
            @Html.TextBox("Nome_Prodotto")</h3>
            <div class="btn btn-primary">Trova</div>
           @*<img class="img-responsive" src="/Content/Images/CaravaggioLente.jpg" />*@
        </div>
    </div>
</div>
<div class="row">
@foreach (var item in Model)
{
        <div class="col-xs-6 col-sm-3 text-center">

                <h3 class="text-center">@Html.DisplayFor(modelItem => item.nome_prodotto)</h3>
            <a href="@Url.Action("Details", "Home", new { id = item.prodotto_id })">
                <img class="img-prodottto" src="@Url.Content("~/Content/Images/prodotti/" + @item.prodotto_id + ".jpg")" />
            </a><br/>
                Prezzo: @Html.DisplayFor(modelItem => item.prezzo_prodotto)<br />
                Categoria: @Html.DisplayFor(modelItem => item.nome_categoria.nome_categoria)<br />
            Commerciante: @Html.DisplayFor(modelItem => item.User.RagioneSociale)<br />
            Indirizzo: @Html.DisplayFor(modelItem => item.User.Indirizzo)<br/>
                                
        </div>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>
}
    </div>

            <div class="row">
                <div class="col-md-4 text-center">
                    <h1 class="glyphicon glyphicon-euro"></h1>
                    <h2>Sei un commerciante?</h2>
                    @Html.ActionLink("Cogli l'occasione", "Commercianti", "Home", new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-4 text-center">
                    <h1 class="glyphicon glyphicon-user"></h1>
                    <h2>Sei un cittadino?</h2>
                    @Html.ActionLink("Vivi la città", "Cittadini", "Home", new { @class = "btn btn-primary"})
                </div>
                <div class="col-md-4 text-center">
                    <h1 class="glyphicon glyphicon-tower"></h1>
                    <h2>Comune</h2>
                    @Html.ActionLink("Offri l'opportunità", "Comuni", "Home", new { @class = "btn btn-primary" })
                </div>
            </div>
