
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<hr/>
<p>oggi è l'anno @DateTime.Now.Year mese @DateTime.Now.Month giorno @DateTime.Now.Day ora @DateTime.Now.Hour minuto @DateTime.Now.Minute secondo @DateTime.Now.Second</p>
@{var tempo = "";
    if (DateTime.Now.Hour < 12) {
        tempo = "pomeriggio";
    }
    else
    {
        tempo = "mattino";
    }
}
<p>adesso è @tempo</p>
<p>
    <label>Scrivi qui mio</label><br />
    <input type="text" name="text3" />
</p>
@{ var mio = Request["text3"];
    if (mio.AsInt() > 10)
    {
        <p>sopra il dieci</p>
    }
    else
    {
        <p>sotto il dieci</p>
    }
    }
@{
    var totale = "";
    if (IsPost)
    {
        var comune = Request["comune"];
        var num1 = Request["text1"];
        var num2 = Request["text2"];
        var total = num1.AsInt() + num2.AsInt();
        var total1 = num2.AsInt() - num1.AsInt();
        totale = "Le righe sono:" + total1;
        <ul>
            @for (var r = @num1.AsInt() ; r < @num2.AsInt() ; r++)
            {
                <li>line @r</li>
            }
        </ul>
    }

}


    <form action="" method="post">
        <p>
            <label for="text1">Primo numero:</label><br>
            <input type="text" name="text1" />
        </p>
        <p>
            <label for="text2">Secondo nomero:</label><br>
            <input type="text" name="text2" />
        </p>
        <p><input type="submit" value=" esegui " /></p>
    </form>
<p>@totale</p>


    @{ var messaggio = "Ciao parola!";}
    @{var città = "Caravaggio";}
    <p>Scrivo: @messaggio la città è @città</p>
