@model IEnumerable<KilometroZero7.Models.Prodotti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prodotto_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.utente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_prodotto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descrizione_prodotto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prezzo_prodotto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prodotto_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.utente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_prodotto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descrizione_prodotto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prezzo_prodotto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_categoria.nome_categoria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.prodotto_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.prodotto_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.prodotto_id })
        </td>
    </tr>
}

</table>
