@model IEnumerable<KilometroZero7.Models.Comuni>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="~/Comunis/Create" class="btn btn-primary"><span class="badge">@ViewBag.ComuniCount</span> Nuovo</a>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeRiferimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelRiferimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comune)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeRiferimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelRiferimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comune)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Regione)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComuneId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComuneId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComuneId })
        </td>
    </tr>
}

</table>
