<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="~/"><span class="red">K</span>ilometro <span class="red">Z</span>ero</a></li>
                    <li>@Html.ActionLink("Il principio", "Principio", "Home")</li>
                    <li>@Html.ActionLink("Comuni", "Comuni", "Home")</li>
                    <li>@Html.ActionLink("Commercianti", "CommerciantiFree", "Home")</li>
                    <li>@Html.ActionLink("Cittadini", "Cittadini", "Home")</li>

                </ul>

                        @Html.Partial("_LoginPartial")
                </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && !User.IsInRole("Admin") && !User.IsInRole("Commerciante") && !User.IsInRole("Comune"))
                    {
                        <li><span class="red">Benvenuto</span></li>
                        <li>@Html.ActionLink("Registrati come commerciante", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("Il tuo profilo", "Index", "RolesAdmin")</li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li><span class="red">Admin</span></li>
                        <li>@Html.ActionLink("Gestione ruoli", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("Gestione utenti", "Index", "UsersAdmin")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Comune"))
                    {
                        <li><span class="red">Comune</span></li>
                      <li>@Html.ActionLink("Gestione commercianti", "Index", "RolesAdmin")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Commerciante"))
                    {
                        <li><span class="red">Commerciante</span></li>
                        <li>@Html.ActionLink("I tuoi prodotti", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("Il tuo profilo", "EditComm", "UsersAdmin")</li>
                    }
                </ul>
            </div>
           </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <span class="almishCesare"><a href="http://www.cr-consult.eu/zona-web">Almish<b>&</b>Cesàre<b>W</b>eb</a></span></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
