@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index"><span class="red">K</span>ilometro <span class="red">Z</span>ero</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index">Home</a>
                    <li>@Html.ActionLink("Principio", "Principio", "Home")</li>
                    <li>@Html.ActionLink("Commercianti", "Commercianti", "Home")</li>
                    <li>@Html.ActionLink("Comuni", "Comuni", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
                <div  class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        @if (Request.IsAuthenticated && !User.IsInRole("Admin") && !User.IsInRole("Commerciante") && !User.IsInRole("Comune"))
                        {
                            <li class="red">Utente registrato</li>
                            <li>@Html.ActionLink("Profilo", "Index", "RolesAdmin")</li>
                        }

                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="red">Admin</li>
                            <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                            <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                            <li>@Html.ActionLink("Categorie", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Prodotti", "Index", "Prodottis")</li>
                            <li>@Html.ActionLink("Comuni", "Index", "Comunis")</li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Commerciante"))
                        {
                            <li class="red">Commercianti </li>
                            <li>
                        <a href="/Prodottis/Index">Prodotti</a></li>
                            <li>@Html.ActionLink("Profilo", "DetailsComm", "UsersAdmin")</li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Comune"))
                        {
                            <li class="red">Comune</li>
                            <li>@Html.ActionLink("Gestisci commercianti", "IndexCom", "UsersAdmin")</li>
                        }
                    </ul>
                </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - KilometroZero - <span class="almishCesare"><a href="http://www.cr-consult.eu/zona-web">Almish<b>&</b>Cesàre<b>W</b>eb</a></span></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
