@model IEnumerable<KilometroZero7.Models.Categorie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="~/Categories/Create" class="btn btn-primary"><span class="badge">@ViewBag.CategorieCount</span> Nuovo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome_categoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome_categoria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.categoria_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.categoria_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.categoria_id })
        </td>
    </tr>
}

</table>
